<body class="pages-backgroud">
    <section id="artists-container">
        {{#each artists}}
            <div class="cards">
                <img src={{images.[0].url}} alt={{name}}/>
                <h2>{{name}}</h2>
                <a href="/albums/{{id}}">View Albums</a>
            </div>
        {{/each}}
    </section>
</body>