<section id="home-page">
    <img src="/images/spotify-background.jpeg" width="600px"/>
    <form action="/artist-search", method="GET">
        <input type="text" name="artist"/>
        <button type="submit">Search for an Artist</button>
    </form>
</section>