<body id="tracks-page" class="pages-background">
    <section id="tracks-container">
        <div id="tracks-header">
            <h1>Title</h1>
            <h1>Listen</h1>
        </div>
        {{#each tracks}}
            <div id="tracks">
                <h2>{{name}}</h2>
                <audio controls src={{preview_url}}></audio>
            </div>
        {{/each}}
    </section>
</body>